img{
    margin-top: 10px;
}

/* cabecalho */

.cabecalho img{
    width: 100px;
}

.cabecalho{
padding: 20px 15px;
background-color: rgba(0, 4, 255, 0.281);
text-align: center;
}

.cabecalho nav{
    text-align: center;
}

.cabecalho nav ul li {
    padding-top: 10px;
}

.cabecalho nav ul li a:hover {
    font-weight: bold;
}

/* Príncipal*/
main{
    padding: 10px;
  
}
main h1::after{
    content: "\01F3D6";
    padding-left: 10px;
}


